:root{
    --bg_color: #f6f7fa;
    --input_color: #12141b;
    --main_color: #6C3287;
    --grey_border: #131212;
    --input_bg_color: #f6f7fa;
}

.dark-mode {
    --bg_color: #02040F;
    --input_color: #FAFAFA;
    --main_color: #6C3287;
    --grey_border: #12141B;
    --input_bg_color: #12141B;
}

*{ 
    padding: 0;
    margin: 0;
    font-family: "Barlow", sans-serif;
}

header {
    padding: 40px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

a.navbar-brand{
    color: var(--input_color);
    font-size: 30px;
}

a.navbar-brand:hover{
    color: var(--main_color);
}