*{
    padding: 0;
    margin: 0;
    font-family: "Barlow", S;
}

header{
    background-color: #02040F;
}
.navbar{
    padding-left: 15px;
}

.nav_top{
    color: white;   
    width: 15%;      
}

a.navbar-brand{
    color: white;
    ;
}

a.nav-link{
    color: white;
    
}
.logo{  
    width: 4%;
}

.teste{
    background-color: #181818;
    opacity: 0.6;
    border-radius: 15px;
}

.teste:hover{
    opacity: 1;
}


