input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

.check_box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #292929;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    background-color: var(--bg_color);
}

input[type="checkbox"]:checked ~ .check_box {
  background-color: #6C3287;
}

.checkbox_label {
  color: var(--input_color);
  font-size: 20px;
  vertical-align: middle;
}