<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProjetoX</title>

    <script>
      const current_user = '<%- user %>';
      const current_page = '<%- page %>';
    </script>  

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/css/page_css/page_header.css">
  <link rel="stylesheet" href="/css/page_css/page_main.css">
  <link rel="stylesheet" href="/css/page_css/page_footer.css">

  <link rel="stylesheet" href="css/details_css/option_bar.css">

  <link rel="stylesheet" href="css/details_css/day_night.css">

  <script src="js/script.js" defer></script>  
  
  <script defer src="js/drawCanvas.js"></script>
  <script defer src="js/loadPage.js"></script>

  <script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/classic/ckeditor.js" crossorigin="anonymous"></script>


  

</head>

<body>
  <header>
    <a class="navbar-brand" href="#">ProjetoX</a>
    <button id="saveButton" class="save_button">save</button>
    <div class="theme-switch">
      <input type="checkbox" id="theme-checkbox" />
      <label for="theme-checkbox">
        <div></div>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd"
              d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z"
              clip-rule="evenodd"></path>
          </svg>
        </span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path
              d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z">
            </path>
          </svg>
        </span>
      </label>
    </div>
  </header>

  <main>
    <article class="main_box">
      <div class="tools_bar">
        <div class="tools_list">
            <input value="✚" type="button" class="tool_option" id="addCellBtn">
        </div>

        <div class="modal" id="myModal">
          <div class="modal-content">
              <span class="close">&times;</span>
              <input class="name_input" id="nameInput" type="text" placeholder="Name of the tool: ">
              <p>Choose an option:</p>
              <button class="add_option" id="textOption">Text</button>
              <button class="add_option" id="drawOption">Drawing</button>
          </div>
        </div>
      </div>

      <div class="grid_content">

        <!-- <div class="grid_cell">
          <div id="editor">
            This is some example
          </div>
        </div> -->

        <!-- <div class="grid_cell">
          <div class="canvas_cell">
            <canvas class="myCanvas"></canvas>
            <div class="canva_settings">
              <button class="eraserBtn">Drawing</button>
              <input type="range" class="eraserSize" min="1" max="50" value="10">
              <label for="eraserSize">Eraser Size</label>
              <input type="color" class="colorPicker" value="#6C3287">
              <input type="range" class="pencilSize" min="1" max="20" value="1">
              <label for="pencilSize">Pencil Size</label>
            </div>
          </div>
        </div> -->

      </div>

    </article>
  </main>

  <footer>

  </footer>
  
</body>

</html>