body {
    background-color: var(--bg_color);
}

.main_box {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.tools_bar {
    border: 2px solid #6C3287;
    width: 200px;
    height: 750px;
    border-radius: 30px;
    box-shadow: 5px 5px #6C3287;
    position: relative;
}

.tools_list {
    margin-top: 50px;
    padding: 15px;
}

.tool_option {
    border-radius: 15px;
    width: 100%;
    background-color: var(--input_bg_color);
    border: 3px solid transparent;
    color: var(--input_color);
    margin-bottom: 30%;
    box-sizing: border-box;
}

.tool_option:hover {
    border-color: #6C3287;
    outline: none;
}

.tool_option:focus {
    background-color: #6C3287;
    color: #fafafa;
}

.home_space {
    padding: 15px;
    position: absolute;
    bottom: 10px;
}

.home_button {
    border-radius: 15px;
    background-color: var(--bg_color);
    border: 3px solid transparent;
    color: var(--input_color);
}

.home_button:hover {
    border-color: #6C3287;
    outline: none;
}

.canva_tool {
    border: 2px solid #6C3287;
    color: var(--input_color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.button_canva {
    background-color: var(--input_bg_color);
    color: var(--input_color);
    border: 2px solid #6C3287;
    width: 100px;
}


canvas {
    /* background-color: #f6f7fa; */
    border: 2px solid #6C3287;
    border-radius: 20px;
}