body {
    background-color: var(--bg_color);
}

.card_display {
    margin-top: 80px;
    display: grid;
    grid-template-columns:auto auto auto auto;
    grid-gap: 20px;
}

.card_item {
    padding: 20px;
}

.add_page {
    font-size: 50px;
    border: none;
    background-color: var(--bg_color);
    text-decoration: none;
    color: var(--input_color);

}

.add_page:hover{
    color: var(--main_color);
}

.add_item {
    padding: 20px;
}