
.main_box {
    background-color: var(--bg_color);
    display: flex;
    color: var(--input_color);
    justify-content: center;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    height: 100%;    
    gap: 15px;
    position: relative;
   


}

.general_box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 390px;
    gap: 50px;
    box-shadow: 4px 4px var(--main_color);
    border: 2px var(--main_color) solid;
    padding: 30px;
    border-radius: 30px;
}

.small_box {
    display: flex;
    flex-direction: column;    
    gap: 15px;
    margin-bottom: 15px;
    width: 100%;
    
}

.input_text {
    border-radius: 3px;   
    background-color: var(--input_bg_color);
    height: 40px;
    border-radius: 20px;
    color: var(--input_color);
    border: 2px var(--grey_border) solid;
    padding-left: 15px;
    
    
}


.input_text:focus {
    border-color: var(--main_color); /* Nova cor da borda quando selecionado */
    outline: none; /* Removendo a borda padrão do navegador */
    /* Adicione mais propriedades de estilo conforme necessário */
}

.btn {
    color:var(--input_color);
    background-color: var(--bg_color);
    border-radius: 10px;
    border: 2px var(--main_color) solid;
    width: 200px;
    height: 40px;
    
}

.btn:hover{
    background-color: var(--main_color);    
}
.text{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buddy{
    color: var(--main_color);
}

.title_text{
    font-size: 30px;
}

.form_setup{
    display: flex;
    flex-direction: column;    
    gap: 50px;
    margin-bottom: 15px;
    width: 100%;
    align-items: center;
}
